---
layout: default
---

<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand" href="#">
        <img src="/assets/angular-leipzig-logo.png" alt="ngLeipzig Logo" height="45" class="mr-2 ml-2">
        Angular Leipzig Meetup
    </span>
    <span class="navbar-text">
        #ngLeipzig
    </span>
</nav>

<div class="container">


    <div class="row mt-5">
        <div class="col-12 col-lg-6 text-center mb-4 mb-lg-0">
            <img src="/assets/{{ page.headerImage }}" alt="Event banner" class="w-100">
        </div>

        <div class="col-12 col-lg-6">
            <h1 class="display-4">Welcome to ngLeipzig!</h1>
            <p class="lead">{{ page.headline }}</p>
            <hr>

            {% for talk in page.talks %}
            <strong>{{ talk.speaker }}:</strong> {{ talk.title }}<br>
            {% endfor %}
    
            <br>
            <p>
                <strong>{{ page.dateTime }}</strong>
            </p>

            Visit <a target="_blank" rel="noopener" href="{{ page.meetupLink }}">Meetup.com</a> for more information and to make a reservation (RSVP).
        </div>

    </div>

        

    <div class="row mb-4 mt-5">
        <div class="col">
            <strong>Join the live stream for our ngLeipzig Online Event!</strong>
            We recommend you to join the interactive Zoom meeting with your webcam enabled, so that all attendees can see each other and talk to each other.
            We're happy to see you around!
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
        <div class="card mb-2">
            <div class="card-body">
            <h5 class="card-title">Join via YouTube</h5>
            <p class="card-text">
                We're happy if you join the interactive Zoom meeting – but if you rather prefer just watching you can get the stream on YouTube. You can ask your questions in the YouTube chat.<br>
                <br>
                <strong>The live stream starts<br>at 6:25 PM CEST.</strong>
            </p>
            <a href="{{ page.youtubeLink }}" class="btn btn-danger">Watch on YouTube</a>
            </div>
        </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">⭐️ Join via Zoom app</h5>
                <p class="card-text">
                    We recommend to <a href="https://zoom.us/download" target="_blank" rel="noopener">install the Zoom app</a>, so you're part of the scene! Get in touch with others, ask questions and support the meetup atmosphere.<br>
                                <br>
                    <strong>Meeting ID:</strong> {% if page.zoomId %}{{ page.zoomId }}{% else %}<em>will be shared shortly before the event</em>{% endif %}
                    <br>

                    <br>
                    <strong>The meeting password will be shared through the <a target="_blank" rel="noopener" href="{{ page.meetupLink }}">Meetup.com event</a> shortly before the meetup!</strong>
                </p>
                
                {% if page.zoomId %}
                <a href="https://zoom.us/j/{{ page.zoomId }}" class="btn btn-primary" target="_blank" rel="noopener">Join via app</a>
                {% else %}
                <button class="btn btn-primary" disabled>Join via app</button>
                {% endif %}
            </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">Join via Zoom Web Client</h5>
                <p class="card-text">
                If you can't install the Zoom app, you can join the meetup using the Zoom web client. You can ask questions in the chat. However, you will not be able to see all attendees at once.<br>
                <br>
                <strong>The meeting password will be shared through the <a target="_blank" rel="noopener" href="{{ page.meetupLink }}">Meetup.com event</a> shortly before the meetup!</strong>
                </p>
                {% if page.zoomId %}
                <a href="https://zoom.us/wc/join/{{ page.zoomId }}" class="btn btn-primary" target="_blank" rel="noopener">Join via web client</a>
                {% else %}
                <button class="btn btn-primary" disabled>Join via web client</button>
                {% endif %}
            </div>
            </div>
        </div>
        
        </div>

        <p class="small text-muted mt-4 mb-4">
            <a href="https://angular-leipzig.de" target="_blank" rel="noopener">Angular Leipzig Meetup</a> |
            <a href="https://angular.schule/legal/imprint" target="_blank" rel="noopener">Imprint</a> |
            <a href="https://angular.schule/legal/privacy" target="_blank" rel="noopener">Privacy</a>
        </p>
</div>